USE [CustomerDb]
GO
/****** Object:  StoredProcedure [dbo].[usp_Customer_GetAll]    Script Date: 6/12/2026 9:05:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[usp_Customer_GetAll]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT CustomerId, CustomerCode, CustomerName, Address, DateOfBirth,
           CustomerType, Email, PhoneNumber, IsActive, CreatedDate
    FROM dbo.Customer
    WHERE IsActive = 1
    ORDER BY CustomerId DESC;
END